<a href="https://colab.research.google.com/github/sparshmittal/Regex/blob/main/Regex_Sample_Data_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re

In [18]:
name = input('Enter file name')

Enter file nameSample Data 3

In [3]:
file = open("/content/"+name+".txt", "r")
data = file.read()
print(file.read())

In [4]:
data

'2057-12-06\nLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat commodo sed egestas egestas. Enim lobortis scelerisque fermentum dui. A arcu cursus vitae congue mauris rhoncus aenean vel elit. Nisi quis eleifend quam adipiscing vitae. Eleifend mi in nulla posuere sollicitudin aliquam ultrices. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Tellus cras adipiscing enim eu turpis. Ante metus dictum at tempor commodo. Et ligula ullamcorper malesuada proin libero nunc. Pellentesque habitant morbi tristique senectus et netus et. Ac turpis egestas maecenas pharetra convallis posuere morbi. Nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices. Pellentesque pulvinar pellentesque habitant morbi tristique senectus. Ultrices neque ornare aenean euismod elementum nisi quis eleifend.\n1st  2nd  3rd  4th  19th 121st\n\n2041-02-14\n£1.96\n2048-05-19\n09-02-1979\n03-12-1953\n\n10-07-2066\n$93,436,763,389.95\n07-25-2064\n12-04-2042\n$9,310.38\n\n$36,883,717,347\n1929-11-25\n$4,942,986\n$645\n$57.55\n1922-10-20\n$483,094,091,202\n05-10-2040\n£8\n08-27-1904\n\n$748,621\n\n\n£577,976,482,138.47\n£1,370.13\n04-09-2007\n£73.13\n£813,088,612,642.90\n£818,670.99\n$85\n2097-10-14\n1981-10-19\n£753\n$1,878.50\n1926-06-15\n07-26-1911\n£4.71\n2028-06-10\n\n£396.96\n09-09-1927\n2052-03-03\n\n'

In [5]:
data = data.replace('\n',' ')

In [6]:
print(data)

2057-12-06 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat commodo sed egestas egestas. Enim lobortis scelerisque fermentum dui. A arcu cursus vitae congue mauris rhoncus aenean vel elit. Nisi quis eleifend quam adipiscing vitae. Eleifend mi in nulla posuere sollicitudin aliquam ultrices. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Tellus cras adipiscing enim eu turpis. Ante metus dictum at tempor commodo. Et ligula ullamcorper malesuada proin libero nunc. Pellentesque habitant morbi tristique senectus et netus et. Ac turpis egestas maecenas pharetra convallis posuere morbi. Nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices. Pellentesque pulvinar pellentesque habitant morbi tristique senectus. Ultrices neque ornare aenean euismod elementum nisi quis eleifend. 1st  2nd  3rd  4th  19th 121st  2041-02-14 £1.96 2048-05-19 09-02-1979 03-12-1953  10-07-2066 $93,436,763,389.95 07-25-2064 12-04-2042 $9,310.38  $36,883,717,347 1929-11-25 $4,942,986 $645 $57.55 1922-10-20 $483,094,091,202 05-10-2040 £8 08-27-1904  $748,621   £577,976,482,138.47 £1,370.13 04-09-2007 £73.13 £813,088,612,642.90 £818,670.99 $85 2097-10-14 1981-10-19 £753 $1,878.50 1926-06-15 07-26-1911 £4.71 2028-06-10  £396.96 09-09-1927 2052-03-03

In [17]:
#shuffling the data
import random
words = data.split()
random.shuffle(words)
data = ' '.join(words)
(data)

'Pellentesque sed 03-12-1953 pulvinar maecenas convallis et mi 2052-03-03 $4,942,986 scelerisque eiusmod Enim Et rhoncus aenean commodo posuere proin eu £818,670.99 egestas. 05-10-2040 Ac justo urna egestas turpis nulla 1929-11-25 habitant Volutpat 4th neque £73.13 Nisl morbi libero adipiscing sit mattis dictum 3rd $36,883,717,347 £577,976,482,138.47 ornare elit, enim senectus Ultrices 07-25-2064 nec turpis. malesuada morbi. 09-09-1927 aenean vitae. Pellentesque quam in 2041-02-14 tristique £753 felis mauris congue 09-02-1979 19th $483,094,091,202 cursus senectus. 1981-10-19 tempor ultrices. £4.71 2048-05-19 $85 Nisi 1st viverra et. 2057-12-06 £1.96 magna vel dui. cras 2028-06-10 amet, nunc. $748,621 imperdiet aliqua. $9,310.38 Eleifend $1,878.50 incididunt leo ipsum netus sed sollicitudin 04-09-2007 2097-10-14 euismod labore lobortis 08-27-1904 £813,088,612,642.90 et morbi aliquam ligula ultrices. 121st A metus Tellus vitae consectetur posuere fermentum 1926-06-15 2nd ullamcorper $93,436,763,389.95 07-26-1911 rhoncus eleifend adipiscing nisi quis 10-07-2066 $645 Lorem neque 1922-10-20 quis eu do at scelerisque Ante elit. $57.55 commodo. orci. fermentum tristique vel dolor pharetra £396.96 egestas ut dolore arcu elementum £1,370.13 adipiscing eleifend. tempor 12-04-2042 rhoncus habitant pellentesque proin Vulputate £8'

**1. Print all currencies in text**

In [12]:
currency = re.findall(r'(A?U?[\$£]([0-9,]+(\.[0-9]+)?))', data)
for curr in currency:
  print(curr[0])

$645
£1,370.13
$93,436,763,389.95
£396.96
£4.71
£8
$36,883,717,347
$57.55
$85
£753
£577,976,482,138.47
$4,942,986
£73.13
£813,088,612,642.90
$9,310.38
$483,094,091,202
$1,878.50
£1.96
£818,670.99
$748,621

**2. Print all date times in the text**

In [13]:
dates = re.findall(r'((0?[1-9]|1[0-2])(-)((0[1-9]|1[0-9]|2[0-9]|3[0-1]))(-)(\d{4}))',data)
for date in dates:
  print(date[0])

09-09-1927
10-07-2066
08-27-1904
12-04-2042
09-02-1979
05-10-2040
03-12-1953
04-09-2007
07-25-2064
07-26-1911

In [14]:
dates = re.findall(r'((\d{4})(-)(0?[1-9]|1[0-2])(-)((0[1-9]|1[0-9]|2[0-9]|3[0-1])))',data)
for date in dates:
  print(date[0])

1929-11-25
2052-03-03
2041-02-14
1981-10-19
1922-10-20
1926-06-15
2048-05-19
2057-12-06
2097-10-14
2028-06-10

**3. Print all cardinilities and orders-**

In [15]:
orders = re.findall(r'(([0-9]+)(st|nd|rd|th))',data)
for order in orders:
  print(order[0])

121st
4th
19th
3rd
2nd
1st

**4. Print all 4 letter words that begin with vowels**

In [16]:
words = re.findall(r'\s[aeiouAEIOU][a-zA-Z]{3}\s',data)
for word in words:
  print(word)

 arcu
 urna
 Ante
 Enim
 enim